
Desafio Semana 3/interactive-card-details-form-main.zip
Desafio Semana 3/interactive-card-details-form-main/design/active-states.jpg
Desafio Semana 3/interactive-card-details-form-main/design/complete-state-desktop.jpg
Desafio Semana 3/interactive-card-details-form-main/design/complete-state-mobile.jpg
Desafio Semana 3/interactive-card-details-form-main/design/desktop-design.jpg
Desafio Semana 3/interactive-card-details-form-main/design/desktop-preview.jpg
Desafio Semana 3/interactive-card-details-form-main/design/mobile-design.jpg
Desafio Semana 3/interactive-card-details-form-main/README-template.md
Desafio Semana 3/interactive-card-details-form-main/README.md
Desafio Semana 2/news-homepage-main/design/style.css
Desafio Semana 2/news-homepage-main/index.html
